body {
    width: 100%; /* 전체 너비 사용 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%; /* 부모인 body 너비에 맞게 확장 */
    outline: 2px solid blue;
    background-color: fuchsia;
}

.nav-main{
    display: flex;
    outline: 2px solid red;
    min-width: 1024px;
    max-width: 1280px;
    height: 40px;
    margin:0px auto;
}

.nav-main-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-main-left>a{
    display: flex;
    align-items: center;
    padding-left: 2px;
    height: 40px;
}
.nav-main-left>i{
    height: 20px;
    background-color: white;
    width: 1px;
}

.nav-main-left > a > svg{
    height: 20px;
    color: white;
}
.nav-main-left > a:nth-of-type(2) {
    height: fit-content;
    color: white;
}
.nav-main-left > a:nth-of-type(2) >svg {
    height: 15px;
}


.nav-main-center{
    
}

.nav-main-right{
    
}